<div class="modal fade" id="submit_two" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-outside">
    <div class="modal-inside">
    	<p class="once-congratulations clearance-awards">恭喜英雄打擂成功，您将获得江湖大礼！</p>
    	<img src="images/2.3.1.1微信答题抽奖_03.png" alt="加载失败">
    	<p class="words">果然是高手~</p>
    	<div class="return-page clearfix">
    		<a href="index.html">返回首页</a>
    	</div>
    </div>
  </div>
</div>