<div class="modal fade" id="submit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog turntable-modal">
    <div class="modal-inside">
    	<p>总星数: <span class="number-star"> </span></p>
    	<p class="once-congratulations">恭喜英雄获得一次抽奖机会</p>
    	<img src="images/2.3.1.1微信答题抽奖_03.png" alt="加载失败">
    	<p class="words">恭喜您！</p>
    	<div>
    		<a href="knowledge-answer.html" class="back-index">返回首页</a>
    		<button class="btn-modal-show" data-dismiss="modal">确定</button>
    	</div>
    </div>
  </div>
</div>